.landing-page {
  width: 100%;
  min-height: 100vh;

  .background {
    border-top: 80px solid $color-green;
    width: 100%;
    height: 100vh;
    background-color: $color-green;

    .main-img {
      width: 85%;
      height: 80%;
      object-fit: cover;
      border-radius: 10px;
      object-position: 46%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
  }

  .mindful {
    gap: $space-big;
    font-style: italic;
    padding-bottom: $space-big;
    color: $color-green;

    .title {
      height: 100px;
      width: 100%;
      justify-content: center;
      background-color: white;
      color: $color-green;
    }

    p {
      padding: 0 $space-big;
      max-width: 960px;
    }
  }

  .benefits,
  .mentors {
    h2 {
      color: $color-green;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      text-align: center;
    }
  }

  .mentors {
    padding: $space-big;

    h2 {
      font-style: normal;
    }
    .mentor-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: $space-big;

      @media (min-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (min-width: 1000px) {
  .landing-page {
    .main-img {
      width: 450px;
    }
  }
}
