.footer {
  height: 150px;
  padding: $space-medium;
  gap: $space-medium;
  background-color: $color-grey;
  color: white;

  section {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-x-big;
    background-color: $color-grey;

    .brands {
      font-size: 40px;
      color: white;
    }
  }
}
