//Colors
$color-green: #51af85;
$color-light-green: #dbee8f;
$color-grey: #808080;

//Font-Size
$paragraph-mobile: 15px;
$paragraph-desktop: 18px;

// Spacing
$space-small: 8px;
$space-medium: 16px;
$space-big: 24px;
$space-x-big: 32px;

// Media queries
$media-big-phones: 550px;
$media-tablet: 750px;
$media-desktop: 1280px;
